.forgotPassword {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	background-color: whitesmoke;
	cursor: pointer;
}

.forgotPassword__top {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.forgotPassword__logo {
	object-fit: contain;
	height: 40px;
	margin-bottom: 15px;
}

.forgotPassword__link {
	text-decoration: none;
}

.forgotPassword__top > h1 {
	font-weight: lighter;
}

.forgotPassword__content {
	padding: 25px 25px;
	background-color: white;
	border-radius: 10px;
	width: 30%;
	margin-top: 25px;
}

.forgotPassword__content > form {
	display: flex;
	flex-direction: column;
}

.forgotPassword__contentInput {
	padding: 12px;
	border-radius: 5px;
	outline: none;
	border: 1px solid grey;
	margin-bottom: 15px;
}

.forgotPassword__content > form > label {
	font-size: 14px;
	color: gray;
	margin-bottom: 5px;
}

.forgotPassword__contentInput:last-child {
	margin-bottom: 0;
}

.forgotPassword__agreement {
	font-size: 13px;
	text-align: center;
	margin-bottom: 20px;
	color: grey;
}

.forgotPassword__button {
	font-size: 16px;
	background-color: #0074b1;
	outline: none;
	border: none;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 30px;
	color: white;
	font-weight: 600;
	cursor: pointer;
}

.forgotPassword__button:hover {
	border-radius: 2px solid #0074b1;
	background-color: #23aaf3;
	transition: 250ms ease-in-out;
}

.forgotPassword__error {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	margin-bottom: 10px;
	background-color: rgb(252, 114, 114);
	color: rgb(194, 23, 23);
	border-radius: 5px;
}

.forgotPassword__success {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	margin-bottom: 10px;
	background-color: seagreen;
	color: rgb(19, 65, 39);
	border-radius: 5px;
}
